#contact{
    padding:0;
}

.contact-form{
    background-color:var(--dark);
    padding: var(--spacing-medium);
}
form {
    margin: 0 auto;
    width: 80%;
}

h2 {
    font-family: var(--secondary-font);
}

.formulary {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: stretch;
    border-radius: 10px;
    border: solid rgb(255, 122, 14);
    padding-left: 5px;
    transition: all 0.5s ease;
    font-family: "Righteous", cursive;
}

.form label {
    color: var(--light);
    font-family: var(--main-font);
    padding-bottom: var(--spacing);
    display: flex;
    text-align: left;
}

.placeholder {
    color: lightgray;
    transition: 0.5s;
}

.placeholder:focus {
    color: white;
}

.formulary:focus {
    background-color: rgb(255, 122, 14);
    color: white;
}

textarea:focus{
    background-color: rgb(255, 122, 14);
    color: white;
}

textarea {
    width: 100%;
    margin-bottom: 5px;
    font-family: "Righteous", cursive;
    border-radius: 10px;
    border: solid rgb(255, 122, 14);
    padding-left: 5px;
    transition: all 0.5s ease;
}

button {
    font-family: "Righteous", cursive;
    cursor: pointer;
    background-color: rgb(255, 122, 14);
    color: var(--light);
    border: solid rgb(255, 122, 14);
    border-radius: 150px;
    margin-left: 5px;
}


.references img{
    object-fit: cover;
    object-position: center;
    width:100px;
    height:100px;
    border-radius:10%;
    border: calc(var(--spacing)/2) solid var(--secondary-color);
    /* box-shadow : calc(var(--spacing)/2) calc(var(--spacing)/2) var(--spacing-large) var(--dark); */
}

.quote-card {
    margin-bottom: var(--spacing-medium);
    padding:0 var(--spacing-medium);
}

hr{
    width: 25%;
    color: var(--dark);
    margin-bottom: var(--spacing-large);
}


.references h3, .references p{
    font-family: var(--main-font);
    text-align: center;
    color: var(--dark);
}

@media screen and (min-width: 769px){
    #contact {
        display: flex;
        justify-content : center;
        align-items: stretch;
        min-height: fit-content;
    }
    .contact-form{
        width:50%;
    } 
    .quote-card{
        display:flex;
        justify-content:space-around;
    }
    .references h3, .references p{
        font-family: var(--main-font);
        text-align: left;
    }
}



