#contact {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
}

.contact_me {
    background-color: white;
    background-image: url("https://i.pinimg.com/originals/b5/f1/42/b5f14267e24ff4be9e6c4ccb62dd628f.jpg");
    background-size: 100%;
    padding-bottom: var(--spacing);
    width: 50%;
}

#contact_title {
    text-align: left;
}

form {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 100%;
}

h2 {
    font-family: "Righteous", cursive;
    font-size: 40px;
}

.formulary {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: stretch;
    border-radius: 10px;
    border: solid rgb(167, 211, 226);
    padding-left: 5px;
    transition: all 0.5s ease;
    font-family: "Righteous", cursive;
}

.formulary:focus {
    background-color: rgb(167, 211, 226);
    color: white;
}

textarea {
    width: 100%;
    margin-bottom: 5px;
    font-family: "Righteous", cursive;
    border-radius: 10px;
    border: solid rgb(167, 211, 226);
    padding-left: 5px;
    transition: all 0.5s ease;
}

button {
    font-family: "Righteous", cursive;
    cursor: pointer;
    background-color: rgb(167, 211, 226);
    color: white;
    border: solid rgb(167, 211, 226);
    border-radius: 150px;
    margin-left: 5px;
}

.references {
    display: flex;
    background-color: violet;
    padding: 0 var(--spacing-medium);
    border: 0 var(--spacing-medium);
    width: 50%;
    height: 100%;
    align-items: center;
    flex-direction: column;

}

.container_coat {
    font-family: "Righteous", cursive;
    display: flex;
}

.ref {
    display: flex;
    height: 130px;
    width: 130px;
    object-fit: cover;
    padding: 0;
    border-radius: 100%;
    border: var(--spacing) var(--light) solid;
}


@media screen and (max-width: 1024px){
    .contact {
        display: block;
        width: 100%;
    } 
}



