#domaines-expertise .titre{
    color: black;
}
#domaines-expertise p{
    text-align: left;
    margin-left: 20px;
}
#domaines-expertise h3{
    font-family: var(--secondary-font);
    margin-top: 0,30rem;
    }


@media screen and (min-width: 426px){
#domaines-expertise{
    display: flex;
    flex-direction: row; 
    padding-top: 80px;
    padding-bottom: 80px;   
    }
#domaines-expertise p{
    text-align: right;
    margin-left: 20px;
    margin-right: 20px;
}
#domaines-expertise h2{
    border-right: var(--spacing) solid rgb(255, 104, 142);
    padding-right: 8px;
    padding-left: 8px;
}
}


@media screen and (min-width: 769px){
#domaines-expertise p{
    /* padding: 0 var(--spacing); */
    text-align: right;
    margin-left: 5px;
    padding: 0 30px 0 30px;
    }
#domaines-expertise h2{
margin-top: 0;
    }
#domaines-expertise{
    display: flex;
    flex-direction: row;
    }
#domaines-expertise i{
    margin: 0px;
    } 
}