
/*  ici paramètre "main" ajouté mais à enlever si merge */


main { 
    padding: 0px;
    margin:0px;
}

/* Bloc expérience */
#experience{
    text-align:center;
}

.work-experience h3{
    color: var(--dark);
    text-align:left;
}
.delorean img { 
    width: 200px;
    height:200px;
    border-radius: 100%;
    object-fit: cover;
}





/* Paramètres Flexboxs , le #experience doit passer en flex si on définit breakpoint*/

.logos  {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px;
}

.expertiseFont p, .textDiplomes p{
    text-align:center;
}


/* Media query, a supprimer si dispensable */
 
@media screen and (min-width: 767px){

    .logos  {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0px;
    }

    #experience{
        display:flex;
        justify-content:space-around;
    }  
    
}





