
#experience{
    display:flex;
    justify-content:center;
    align-items:center;
}

#experience .titles{
    background-image: url('../Assets/physics.png');
}
#experience .work-experience{
    width:100%;
}

#experience .work-experience h3{
    color: var(--dark);
}    

#experience .work-experience li {             
    text-align: justify;
    letter-spacing: 2px;
                    
}

.work-experience article {
    height: auto;
    min-height:fit-content;
}
         
/*                 
.delorean img { 
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    height:250px;
    border-radius: 100%;
    
}     */


/* Media query, a supprimer si dispensable */
 
@media screen and (min-width: 769px){
    #experience{
        flex-wrap: nowrap;
        justify-content:space-around;
    }      
    #experience .titles{
        order: 2;
        padding-left: var(--spacing-medium);
    }
    #experience .content-container{
        width:70%;
        border-right: var(--main-color) solid var(--spacing);
        text-align:left;
    }
    #experience .content-container ul{
        padding-left:var(--spacing-medium);
    }
    #experience .sections-container{
        flex-wrap: nowrap;
        background-position:right;
        background-size:350px;
    }
    
}    






