/* footer box*/
.foot {
    width:100%;
    z-index: 2;
    position:relative;
}

.foot .fab, .foot .fas {
    color:var(--main-color);
    font-size: 16px;
}

/* icons social media */

.icons {
    display: flex;
    width: 100%;
    justify-content: space-around;  
    align-items:center;     
    list-style:none;
    margin:0;
    padding: var(--spacing);
    background-color: var(--dark);
}

/* faq button */
.title-faq{
    text-decoration: none;
}
.title-faq p{
    font-size:.6em;
    margin:0;
    background:var(--main-color);
    text-align: center;
    padding: calc(var(--spacing)/2) var(--spacing);
    font-family:var(--secondary-font);
    border-radius:25px;
    color:var(--dark);
}

/* faq when display */
    
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/* background faq */

#faq{
    background-color:var(--light-transparent);
    padding: var(--spacing-large);
    margin-top: var(--spacing-medium);
    display:none;
    overflow:hidden;
}





/* title faq */

.foire {
    text-align: center;
    font-family: var(--secondary-font);
    padding-bottom: 32px;
    margin-top: 0px;
    color: var(--secondary-color);
}

/* questions answer icon */

.question {
    font-family: var(--secondary-font);
    font-weight: bold;
    text-align: center;
    color:var(--dark);
    font-size:1em;
    margin-top:var(--spacing-large);
}

.answer { 
    font-family: var(--main-font);
    padding: var(--spacing) 0 var(--spacing-large);
    text-align: center;
    font-weight: bold;
    font-size:.9em;
}

#faq span{
    display:block;
    width: 150px;
    height: 1px;
    color: var(--main-color);
    margin-bottom: var(--spacing-large);
    background-color: var(--secondary-color);
    margin: 0 auto;
}


.atom {
    font-size: 32px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 64px;
}

.delo {
    width: 128px;
    height: 128px;
}

/* background behind faq */

.faqWrapper {
    background-image: url("../Assets/dolodesert.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 769px){
    #faq {
        margin-top: var(--spacing-large);        
    }
    .title-faq p{
        font-size:1em;
    }
}
