body {
    margin: 0;
    padding: 0;
}


.foot {
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;       
    list-style:none;
    margin-left:0;
    padding-left:0;
    font-size: 32px;

}

.title-faq {
    border: lightcoral;
    background-color: lightcoral;
    width: 30%;
    font-family: var(--main-font);
    text-align: center;
    font-size: 32px;
    color: #551a8b;
    font-weight: bold;
}

.hide {
    display: none;
    animation: fadein 3.5s;
    }
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}



.top {
    width: 20%;
    text-align: center;
    font-size: 32px;
}


.question {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.answer { 
    font-family: var(--main-font);
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.foire {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-family: var(--main-font);
    padding-top: 16px;
}

.atom {
    font-size: 32px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 64px;
}

