@import "profile.css";
@import "header.css";
@import "experience.css";
@import "footer.css";


/* Fonts libraries */
@import "contact.css";
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Dancing+Script&family=Open+Sans+Condensed:ital,wght@1,300&family=Poiret+One&family=Righteous&family=MuseoModerno:wght@600&display=swap');
/* @font-face {
    font-family: 'Dodger';
    src:url('/Assets/webfonts_Dodger/Dodger.ttf.woff') format('woff'),
    url('/Assets/webfonts_Dodger/Dodger.ttf.svg#Dodger') format('svg'),
    url('/Assets/webfonts_Dodger/Dodger.ttf.eot'),
    url('/Assets/webfonts_Dodger/Dodger.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
} */

:root{
    --main-font: "Poiret One", cursive;
    --h1:"MuseoModerno", cursive;
    --secondary-font: "Righteous", cursive;
    --main-color:rgb(255, 104, 142);
    --light: #fdf7ef; 
    --dark : #122429;
    --spacing : 8px;
    --spacing-medium : calc(var(--spacing) * 2);
    --spacing-large : calc(var(--spacing) * 4);
}

/* Document Resets */
*{
    box-sizing:border-box;
}

body {
    margin: 0;
    padding: 0;
}

main{
    padding : 0;
}
section{
    width:100%;
    min-height:100vh;
    padding: 0 var(--spacing);
    text-align:center;
}

h2, h3, h4, h5, h6{
    font-family: var(--secondary-font);
    color: rgb(255, 122, 14);
}

p, ul, ol, li, a{
    font-family: var(--main-font);
    letter-spacing: 2px;
}