/* Fonts libraries */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Dancing+Script&family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
:root{
    --main-font: "Open Sans Condensed", cursive;
    --secondary-font:"Bangers", cursive;
}
h1{
    font-family:var(--secondary-font);
    font-weight:100;
}
p{
    font-family:var(--main-font);
}

img{
    width:30%;
    height:60vh;
    object-fit:cover;
    margin: 10px;
}
header{
    border: 2px solid black;
    margin: 1;
    padding: 5px;
    background-color: burlywood;
    
}