@import "profile.css";
@import "header.css";
@import "experience.css";
@import "footer.css";
@import "caroussel.css";
@import "domaines-expertise.css";
@import "diplomes-hobbies.css";


/* Fonts libraries */
@import "contact.css";
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Dancing+Script&family=Open+Sans+Condensed:ital,wght@1,300&family=Poiret+One&family=Righteous&family=MuseoModerno:wght@600&display=swap');


:root{
    --main-font: "Poiret One", cursive;
    --h1:"MuseoModerno", cursive;
    --secondary-font: "Righteous", cursive;
    --main-color:rgb(170, 17, 29);
    --secondary-color: rgb(255, 122, 14);
    --light: #fdf7ef; 
    --light-transparent: #fdf7eff0;
    --dark : #122429;
    --spacing : 8px;
    --spacing-medium : calc(var(--spacing) * 2);
    --spacing-large : calc(var(--spacing) * 4);
}

/* Document Resets */
*{
    box-sizing:border-box;
}

body {
    margin: 0;
    padding: 0;
}

main{
    padding : 0;
}
section{
    position:relative;
    width:100%;
    text-align:center;
    padding-bottom:var(--spacing-large);
}
.sections-container{
    width:100%;
    min-height:80%;
    height:fit-content;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    background-color: var(--light-transparent);
    padding:var(--spacing-medium);
}

h2, h3, h4, h5, h6{
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    text-transform: capitalize;
}

p, ul, ol, li, a{
    font-family: var(--main-font);
    letter-spacing: 2px;
}

ul{
    padding:0;
}

.titles{
    display:flex;
    align-items:center;
    justify-content:center;
    height:150px;
    background-repeat:no-repeat;
    background-position: top;
    background-size:150px;
}
.content-container{
    padding: var(--spacing-medium);
}
.paralax-wrapper{
    position:relative;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;  
}
#paralax2{
    background-image: url("../Assets/timetravel2.png");
}
#paralax1{
    background-image: url("../Assets/Maurice-Blaine-Delorean-600x369.png");
}
#paralax3{
    background-image: url('../Assets/timetravel3.png');
}
#paralax4{
    background-image: url('../Assets/timetravel1.png')
}  
#paralax5{
    background-image:url('../Assets/tableau.jpg')
}

@media screen and (min-width: 769px){
    section{
        padding-bottom:0;
        margin-bottom:0;
        height:100vh;
    }
    .sections-container{
        min-height:80%;
        max-height:90%;
        flex-wrap:nowrap;
        justify-content:space-around;
    }
    .content-container{
        width:70%;
    }
}