.text p{
    padding: 0 var(--spacing);
    /* background-color: rgb(226, 218, 208); */
    /* font-family: var(--main-font) */
}
#profile .img-profile{
    width: 100%;
    height: 100%;
}
#profile {
    padding: 0;
}

#profile img{
    width: 100%;
    height: 100vh;
    object-fit: cover; 
}

@media screen and (min-width: 426px){
    #profile img{
        width: 250px;
    }
} 
@media screen and (min-width: 769px){
    #profile {
        display: flex;
        justify-content: space-between;
        /* background-color: royalblue; */
        align-items: center;
        height:100vh;
    }

    p {
        text-align: justify;

    }
    .text{
        padding: 0 var(--spacing-medium);
        width: 160%;
        
    }
    #profile img {
        height: 100%;
        width: 100%;
        border: none;
        border-right: var(--spacing) solid rgb(255, 104, 142) ;
        border-radius: 0%;
        padding: 0 var(--spacing) 0 0;
    
    }
}