#profile {
    padding: 0;
    background: var(--light-transparent);
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin-bottom: var(--spacing-medium);
}

.text{
    padding-bottom:var(--spacing-medium);
}
.text p{
    padding: 0 var(--spacing-large);
    text-align: justify;
}

#profile .img-container{
    width: 100%;
    height: 100vh;
}

#profile .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

@media screen and (min-width: 426px){
    #profile{
        align-items: stretch;
    }
    #profile .img-container{
        width: 100%;
        height:200px;
    }
    .text{
        width:100%;
    }
} 
@media screen and (min-width: 769px){
    #profile {
        flex-wrap:nowrap;
        justify-content: space-between;
        align-items:center;
    }
    #profile .img-container{
        height:100vh;
    }
    .text{
        width: 160%;
    }

    #profile .img-container img {
        border-right: var(--spacing) solid var(--main-color);    
    }
}